<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Author</title>
</head>

<body>
    <h1>Select Author</h1>
    <form action="/select" method="post">
        <input type="hidden" name="input_author" value="{{ input_author }}">
        {% for author in authors %}
        <div>
            <input type="radio" id="author_{{ author.index }}" name="selected_author" value="{{ author.index }}"
                required>
            <label for="author_{{ author.index }}">{{ author.name }} - {{ author.affiliation }}</label>
        </div>
        {% endfor %}
        <button type="submit">Download Publications</button>
    </form>
</body>

</html>
